<!-- Flash message display (connect-flash) -->
<% if (messages && messages.length > 0) { %>
  <% messages.forEach(function(msg) { %>
    <div class="alert alert-success"><%= msg %></div>
  <% }) %>
<% } %>
<% if (errors && errors.length > 0) { %>
  <% errors.forEach(function(err) { %>
    <div class="alert alert-danger"><%= err %></div>
  <% }) %>
<% } %>